<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.pool_size">1</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

        <!--<property name="cache.provider_class">org.hibernate.cache.internal.No</property>-->

        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">create</property>

        <mapping class="com.artiomtb.hibernate.model.UserDetails"/>
        <mapping class="com.artiomtb.hibernate.model.Vehicle"/>
    </session-factory>
</hibernate-configuration>